.discount-banner {
    margin: -50px -30px 20px !important;
}

@media (max-width: 768px) {
    .pricing-card {
        padding: 50px 25px 40px !important;
    }
    
    .discount-banner {
        margin: -50px -25px 20px !important;
    }
}

@media (max-width: 480px) {
    .pricing-card {
        padding: 50px 20px 40px !important;
    }
    
    .discount-banner {
        margin: -50px -20px 20px !important;
    }
}
