@media (min-width: 769px) and (max-width: 992px) {
    .timeline-item {
        flex-direction: column;
        align-items: center;
    }
    
    .image-container {
        margin-left: 0;
        margin-bottom: 20px;
    }
    
    .content {
        margin-left: 0;
        padding: 0 20px;
        text-align: center;
        max-width: 100%;
    }
    
    .connector {
        display: none;
    }
}
